.about-us{

.about-us_txt1{
position: absolute;
width: 280px;
height: 79px;
top: 2520px;
left: 362px;
color: #fff;
font-family: Noe Display;
font-size: 72px;
font-weight: 700;
line-height: 79px;
letter-spacing: -0.02em;
text-align: center;
z-index: 1;
}


 .about-us_txt2 {
 position: absolute;
 font-family: Larsseit;
 font-size: 18px;
 font-weight: 700;
 line-height: 27px;
 letter-spacing: -0.02em;
 text-align: left;
 color: #fff;
 width: 321px;
height: 270px;
top: 2670px;
left: 362px;
z-index: 1;
   }


   .about-us_txt3 {
    position: absolute;
    font-family: Larsseit;
    font-size: 18px;
    font-weight: 300;
     line-height: 27px;
     letter-spacing: -0.02em;
     text-align: left;
    color: #ffffff9c;
    width: 321px;
   height: 270px;
   top: 2720px;
   left: 362px;
   
   z-index: 1;
}

   .about-us_txt4{
    position: absolute;
    font-family: Larsseit;
    font-size: 18px;
    font-weight: 300;
     line-height: 27px;
     letter-spacing: -0.02em;
     text-align: left;
    color: #ffffff9c;
    width: 321px;
   height: 270px;
   top: 2800px;
   left: 362px;
   
   z-index: 1;
}


 .about-us_txt5 {
 position: absolute;
 font-family: Larsseit;
 font-size: 18px;
 font-weight: 700;
 line-height: 27px;
 letter-spacing: -0.02em;
 text-align: left;
 color: #fff;
 width: 321px;
height: 270px;
top: 2910px;
left: 362px;
z-index: 1;
   }

   .about-us_container-btn{
    position: absolute;
    width: 282px;
    height: 65px;
    top: 3000px;
    left: 362px;
    border-radius: 183px;
    background: #00C9E0;
    z-index: 3;
    }
    
    .about-us_container-btn a{
        position: absolute;
        font-family: Larsseit;
        font-size: 14px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.15em;
    text-decoration: none;    
        left: 35px;
        color: #ffffff;
        top: 20px;
        }
    
    
        .about-us_container-btn:hover{
            transform: translateY(2px);
            transition: 0.1s;
            box-shadow: 10px 10px 10px rgb(255, 0, 0);
        }


.about-us_img{
position: absolute;
top: 3035px;
left: 625px;
z-index: 9;
}

.about-us_img2{
    position: absolute;
    width: 395px;
height: 395px;
top: 2470px;
left: 771px;
z-index: 1;
    }

    .about-us_img3{
        position: absolute;
        width: 395px;
    height: 395px;
    top: 2470px;
    left: 1166px;
    z-index: 1;
    }

    .about-us_img4{
        position: absolute;
        width: 395px;
    height: 395px;
    top: 2865px;
    left: 771px;
    z-index: 1;
    }
    
        .about-us_img5{
        position: absolute;
        width: 395px;
        height: 395px;
        top: 2865px;
        left: 1166px;
        z-index: 1;
       }

       .about-us_img6{
        position: absolute;
    top: 2730px;
    left: 685px;
    z-index: 1;
        }

        .about-us_img7{
            position: absolute;
        width: 70px;
height: 470px;
top: 2635px;
left: 1570px;
z-index: 1;

        
            }
            .about-us_img8{
                position: absolute;
top: 2900px;
left: 0px;
opacity: 0.3px;
    height: 1000px;
    
            
                }

  }


  .about-us_container-next{
position: absolute;
top: 4150px;
left:0px;
background-image: url(../img/Rectangle\ 17.png);
width: 1920px;
height: 1910px;

.about-us-next_img1{
position: absolute;
left: 120px;
top:-600px;



}

.about-us-next_img2{
    position: absolute;
    left: 959px;
    top:-650px;
    width: 4px;
height: 100px;

    
    
    }
    


.about-us_container-next_text h2{
position: absolute;
width: 545px;
height: 79px;
top:-500px;
left: 690px;
font-family: Noe Display;
font-size: 72px;
font-weight: 700;
line-height: 79px;
letter-spacing: -0.02em;
text-align: center;
color: #ffffff;
z-index: 9;





}

.about-us_container-next_text h3{
position: absolute;
height: 33px;
top:-350px;
left: 730px;
font-family: Larsseit;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.15em;
text-align: center;
color: #ffffff;


}



  }



  .testimonial1{
    position: absolute;
    background-image: url(../img/Rectangle.png);
    width: 510px;
    height: 504px;
    top: 3950px;
    left: 439px;
    
.testimonial1-text1{
position: absolute;
color: aqua;
left: 50px;
top: 50px;
font-size: 40px;

}

.testimonial1-text2{
    position: absolute;
    color: white;
    font-family: Larsseit;
font-size: 18px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
left: 90px;
top: 65px;
    }

    .testimonial1-text3{
        position: absolute;
        color: white;
    left: 90px;
    top: 150px;
    font-family: Larsseit;
    font-size: 18px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

        }
    
        .testimonial1-img{
            position: absolute;
        left: 90px;
        top: 350px;
            }


            .testimonial1-text4{
                position: absolute;
                color: white;
            left: 190px;
            top: 340px;
             font-family: Larsseit;
            font-size: 18px;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            
                }



    }


    .testimonial2{
        position: absolute;
        background-image: url(../img/Rectangle.png);
        width: 510px;
        height: 504px;
        top: 3950px;
        left: 949px;
        
    .testimonial2-text1{
    position: absolute;
    color: aqua;
    left: 50px;
    top: 50px;
    font-size: 40px;
    
    }
    
    .testimonial2-text2{
        position: absolute;
        color: white;
        font-family: Larsseit;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    left: 90px;
    top: 65px;
        }
    
        .testimonial2-text3{
            position: absolute;
            color: white;
        left: 90px;
        top: 150px;
        font-family: Larsseit;
        font-size: 18px;
        font-weight: 300;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
    
            }
        
            .testimonial2-img{
                position: absolute;
            left: 90px;
            top: 350px;
                }
    
    
                .testimonial2-text4{
                    position: absolute;
                    color: white;
                left: 190px;
                top: 340px;
                 font-family: Larsseit;
                font-size: 18px;
                font-weight: 400;
                line-height: 34px;
                letter-spacing: 0em;
                text-align: left;
                
                    }
    
    
    
        }




        .testimonial3{
            position: absolute;
            background-image: url(../img/Rectangle.png);
            width: 510px;
            height: 504px;
            top: 4480px;
            left: 439px;
            
        .testimonial3-text1{
        position: absolute;
        color: aqua;
        left: 50px;
        top: 50px;
        font-size: 40px;
        
        }
        
        .testimonial3-text2{
            position: absolute;
            color: white;
            font-family: Larsseit;
        font-size: 18px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        left: 90px;
        top: 65px;
            }
        
            .testimonial3-text3{
                position: absolute;
                color: white;
            left: 90px;
            top: 150px;
            font-family: Larsseit;
            font-size: 18px;
            font-weight: 300;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
        
                }
            
                .testimonial3-img{
                    position: absolute;
                left: 90px;
                top: 350px;
                    }
        
        
                    .testimonial3-text4{
                        position: absolute;
                        color: white;
                    left: 190px;
                    top: 340px;
                     font-family: Larsseit;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 34px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                        }
        
        
        
            }
        
        
            .testimonial4{
                position: absolute;
                background-image: url(../img/Rectangle.png);
                width: 510px;
                height: 504px;
                top: 4480px;
                left: 949px;
                
            .testimonial4-text1{
            position: absolute;
            color: aqua;
            left: 50px;
            top: 50px;
            font-size: 40px;
            
            }
            
            .testimonial4-text2{
                position: absolute;
                color: white;
                font-family: Larsseit;
            font-size: 18px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            left: 90px;
            top: 65px;
                }
            
                .testimonial4-text3{
                    position: absolute;
                    color: white;
                left: 90px;
                top: 150px;
                font-family: Larsseit;
                font-size: 18px;
                font-weight: 300;
                line-height: 34px;
                letter-spacing: 0em;
                text-align: left;
            
                    }
                
                    .testimonial4-img{
                        position: absolute;
                    left: 90px;
                    top: 350px;
                        }
            
            
                        .testimonial4-text4{
                            position: absolute;
                            color: white;
                        left: 190px;
                        top: 340px;
                         font-family: Larsseit;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 34px;
                        letter-spacing: 0em;
                        text-align: left;
                        
                            }
            
            
            
                }













