.footer-container{
    .footer-container_text{
        .footer-container_text1{
            position: absolute;
            color: white;  
            top: 5036px;
            left: 750px;
            font-family: Noe Display;
            font-size: 72px;
            font-weight: 700;
            line-height: 79px;
            letter-spacing: -0.02em;
            text-align: center;

        }
        .footer-container_text2{
            position: absolute;
            color: white;  
            top: 5190px;
            left: 780px;
            font-family: Larsseit;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0.07em;
            text-align: center;


        }
        .footer-container_text3{
position: absolute;
color: white;
font-family: Larsseit;
font-size: 15px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
top: 5600px;
left: 465px;

        }
        
        .footer-container_text4{
            position: absolute;
            color: white;
            font-family: Larsseit;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            top: 5600px;
            left: 660px;
            
                    }
    
            .footer-container_text5{
            position: absolute;
            color: white;
            font-family: Larsseit;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            top: 5600px;
            left: 850px;
            
                    }
                .footer-container_text6{
            position: absolute;
            color: white;
            font-family: Larsseit;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            top: 5600px;
            left: 1040px;
            
                    }
    
    .footer-container_text7{
position: absolute;
top: 5761px;
left: 802px;
color: white;
font-family: Larsseit;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;



    }

.footer-container_text8{
position: absolute;
top: 5812px;
left:  932px;
font-family: Playfair Display;
font-size: 36px;
font-weight: 700;
line-height: 68px;
letter-spacing: 0em;
text-align: left;
color: white;
 }

 .footer-container_text9{
    position: absolute;
    top: 5812px;
    left:  980px;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #41EAD4;
     }
    
    }


    .footer-container_img {
        position: absolute;
        width: 2px;
        height: 80px;
        top: 5350px;
        left: 940px;
        border-radius: 13px;
        background-color: #09F4F4;
    
    
    }


    

            .footer-container_navbar-text  li {
            display: inline-block;
            margin-right: 130px;
        
         }
        
        
        .footer-container_navbar-text a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        
            
        }
        
        .footer-container_navbar-text  a:hover{
            color:  rgba(210, 49, 102, 1);
        
        }
        
        .footer-container_navbar-text  a:active {
            color: rgb(0, 60, 255);
        }
        
        .footer-container_navbar-text {
            top: 5493px;
            left: 424px;
            position: absolute;
            font-family: Larsseit;
            font-size: 18px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: left;

        
        }
    
    
        .footer-container_navbar-social li{
            display: inline-block;
        margin-right: 20px;
        }
        
        .footer-container_navbar-social img{
            width: 24px;
            height: 24px;
                position:relative;
        
        }
        
        .footer-container_navbar-social{
        position: absolute;
        top: 5600px;
        left: 1210px;
        }



}

